html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #922724;
    color: white;
    overflow-x: hidden;
}

body {
    margin: 20px;
    padding: 20px;
    display:flex;
    flex-direction: column;
}

.landing {
    position: relative;
    background-image: url('my_picture.JPG');
    background-size: cover;
    background-position: center;
}

.landing::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(39, 38, 38, 0.5); 
    z-index: 1;
}

.my-name, .short-description {
    position: relative;
    z-index: 2; 
    color: white;
    font-size: 25px;
}

.texts {
    margin: auto;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me {
    margin: auto;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-one {
    text-align: center;
    font-size: 50px;
}

.image-portrait {
    width: 30%;
    border-radius: 100px;
}

.descript {
    display: flex;
    margin: auto;
    width: 40%;
    margin-top: 30px;
    font-size: large;
}

.part-one {
    margin: auto;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.interest {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 5vh;
}

.interest-one {
    display: flex;
    flex-direction: column;
    border-style: none;
    max-width: 18vw;
    min-width: 18vw;
    background-color: 836953;
    box-shadow: 2px 2px 4px rgba (0,0,0,0.2);
    border-radius: 10px;
    transition: transform ease 0.5s;
}

.interest-two {
    display: flex;
    flex-direction: column;
    border-style: none;
    max-width: 18vw;
    min-width: 18vw;
    background-color: 836953;
    box-shadow: 2px 2px 4px rgba (0,0,0,0.2);
    border-radius: 10px;
    transition: transform ease 0.5s;
}

.interest-three {
    display: flex;
    flex-direction: column;
    border-style: none;
    max-width: 18vw;
    min-width: 18vw;
    background-color: 836953;
    box-shadow: 2px 2px 4px rgba (0,0,0,0.2);
    border-radius: 10px;
    transition: transform ease 0.5s;
}

.interest-four {
    display: flex;
    flex-direction: column;
    border-style: none;
    max-width: 18vw;
    min-width: 18vw;
    background-color: 836953;
    box-shadow: 2px 2px 4px rgba (0,0,0,0.2);
    border-radius: 10px;
    transition: transform ease 0.5s;
}

.interest-five {
    display: flex;
    flex-direction: column;
    border-style: none;
    max-width: 18vw;
    min-width: 18vw;
    background-color: 836953;
    box-shadow: 2px 2px 4px rgba (0,0,0,0.2);
    border-radius: 10px;
    transition: transform ease 0.5s;
}

.interest-one:hover, .interest-two:hover, .interest-three:hover,
     .interest-four:hover, .interest-five:hover {
    transform: translateY(-30px);
}

.interest-pic {
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    max-height: 25vh;
    min-height: 25vh;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    min-height: 25vh;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    min-height: 25vh;
}

.content {
    margin:5px;
}

.interest-descript {
    font-size: 20px;
}

.part-two {
    min-height: 100vh;
    display: flex;
    flex-direction: space-between; 
}

.workwrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100vw;
    min-width: 100vw;
}

.header-two {
    font-size: 100px;
    padding: 0;
    margin: 0;
}

.placeholder {
    margin: 50px;
    width: 52vw;
    background-color: 836953;
    padding: 40px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
    transition: transform ease 0.5s;
}

.placeholder:hover {
    transform: translateY(-30px);
}

.hreflist {
    margin-left: 10vw;
    width: 100vw;
    text-align: center;
}

.countries-title {
    text-decoration: none;
    font-size: 50px;
    color: white;
}

.part-three {
    min-height: 100vh;
}

.card {
    background-color: 836953;
    min-height: 80vh;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial {
    font-size: 30px;
}

.part-four {
    min-height: 100vh;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.top-one {
    display: flex;
    justify-content: center;
    gap: 5vh;
}

.bottom-one {
    display: flex;
    justify-content: center;
    gap: 5vh;
}

.photo {
    min-width: 50px;
    max-width: 500px;
    border-radius: 20px;
    transition: transform ease 0.5s;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
}

.photo:hover {
    transform: translateY(-30px);
    filter: grayscale(100%);
}

.part-five {
    min-height: 100vh;
    display: flex;
    flex-direction: space-between; 
}

.goals {
    margin-left: 10vw;
    width: 100vw;
    text-align: center;
}

.placeholder {
    margin: 25px;
    width: 52vw;
    background-color: 836953;
    font-size: 30px;
    padding: 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
    transition: transform ease 0.5s;
}

ol {
    list-style-type: none;
}

.journal-title {
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.journal-placeholder {
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 52vw;
    background-color: 836953;
    padding: 40px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
    transition: transform ease 0.5s;
}

.journal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.journal-placeholder:hover {
    transform: translateY(-30px);
}

.part-six {
    min-height: 100vh;
}

.comments-section {
    min-height: 25vh;
    margin-bottom: 20px;
    background-color: 836953;
}

form {
    display: flex;
    flex-direction: column;
    background-color: 836953;
    padding: 20px;
}

.name {
    margin: 0 auto;
}

label {
    font-size: 30px;
    display: block;
    text-align: center;
}

input {
    width: 200px;
    height: 35px;
    margin-bottom: 20px;
}

.comment {
    margin: 0 auto;
    display: block;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: #efdecd;
}

#comments_table {
    width: 100%;
    margin: auto;
    text-align: center;
}

.sort {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    gap: 10px;
    margin-right: 20px;
}

.sortbuts {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #efdecd; 
    font-family: 'Franklin Gothic Medium', 
        'Arial Narrow', Arial, sans-serif;
    color: black; 
    border: 2px solid #efdecd; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sortbuts:hover {
    background-color: #3498db; 
    color: #fff; 
}